html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", "Arial", sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  margin-bottom: 120px;
}

.page-nav {
  display: flex;
  min-height: 86px;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  display: inline-block;
  font-size: 30px;
  font-weight: light;
  color: #555252;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  color: #0f0101;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 900;
}

.site-navigation li {
  display: flex;
  }

.site-navigation a {
  display: block;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}


.section-title {
  margin: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: regular;
  color: #555252;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 93px;
}
.section-title2 {
  margin: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: regular;
  color: #555252;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 93px;
}
.section-title2::after {
  display: block;
  width: 164px;
  height: 6px;
  background-color: #1abc9c;
  content: "";
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.features {
  margin-bottom: 120px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.features-list-item {
  /*display: flex;*/
  text-align: center;
  flex-basis: 33%;
}

li.features-list-item:hover p {
  background-color: #1abc9c;
}
/*.features-list-item image {
  display: flex;
  flex-shrink: 1;
  width: 32px;
  height: 32px;
}*/
.together {
  display: flex;
}
.image {
  display: flex;
  flex-shrink: 1;
}
.title {
  display: flex;
  flex-shrink: 4;
  flex-direction: column;
}
.title1 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.title2 {
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list-item {
  float: left;
  width: 350px;
  margin-right: 30px;
  text-align: center;
}

.footer-list-item:nth-child(3n) {
  margin-right: 0;
}

.footer-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.title-news {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.title-news::after {
  display: block;
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  content: "";
  margin-left: 0px;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 26px;
}
.news-main {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-bottom: 14px;
  }

.image-news {
  margin: 0;
  margin-bottom: 15px;
}

.like-button {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  width: 160px;
  height: 51px;
  background-color: #4ec6ab;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  margin: 0 auto;
  left: 0; right: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 15px;
  }
