/*Не совсем понятная штука*/
html{
    box-sizing:border-box;}
*,
*::before,
*::after {
    box-sizing: inherit;}

body{
    margin: 0;
    font-family: 'Playfair Display', Arial, serif;
    color: #626262;} 
img{
    display: block;
    max-width: 100%;
    height: auto;}

.container {
    width: 960px;
    margin: 0 auto;}
    .page-header {
        display: block;
        text-align: inherit;
        padding-top: 73px;
        padding-bottom: 99px;
       
    }



.leisure-head {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 0;
   /* margin-top: 31px; */
    margin-bottom: 29px;}

.site-navigation {
display: inline-block;
vertical-align: middle;
width: 940px;
margin: 0;
padding: 0;
list-style: none;
text-align: center;
font-size: 0;
}
/*site navigation ставим в строку навигацию сайта*/
.site-navigation li {
    display: inline-block;}
.site-navigation li:not(:last-child) {
    margin-right: 95px;}
.leisure-list-image {
    margin-bottom: 30px;}

.site-navigation a {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    font-size: 14px;
    }
.leisure-main {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 33px}
.leisure-description {
    margin: 0;
    font-size: 14px;
    /*line-height: 24px;*/
    margin-bottom: 130px;}
/* LEISURE LIST */
.leisure-list {
    list-style: none;
    font-size: 0;
    padding: 0
    }

.leisure-list-item {
    display: inline-block;
    width: 420px;}

.leisure-list-item:not(:nth-child(2n)) {
    margin-right:61px;}
/*.leisure-list-item:nth-child(-n + 2) {
    margin-bottom:61px;}*/

.button {
   /* display: inline-block; */
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; right: 0;
       
}
